$black: #9c9c9c;

@mixin button-color($color) {
  background: $color;
  padding: 0.2rem 1rem;
  &:hover {
    background: darken($color, 30%);
  }
  &:active {
    background: darken($color, 10%);
  }
  &.outline {
    color: $color;
    background: none;
    border: 1px solid $color;
    &:hover {
      background: $color;
      color: white;
    }
  }
  &.disabled {
    background: lighten($color, 20%);
    cursor: not-allowed;
  }

  &:active {
    background: darken($color, 20%);
  }
}

.Button {
  display: inline-flex;
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  align-items: center;
  font-size: 1rem;
  vertical-align: middle;

  &.large {
    height: 3rem;
    font-size: 1.25rem;
  }

  &.medium {
    height: 2.25rem;
    font-size: 1rem;
  }

  &.small {
    height: 1.75rem;
    font-size: 0.875rem;
  }

  &.black {
    @include button-color($black);
  }
}
