@use '@/utils/variables';
.wrap {
  color: variables.$white;
  background-color: variables.$white-grey;
  padding: 1.2rem;
}

.music-player-wrap {
  display: inline-flex;
  width: 100%;
  justify-content: center;

  button {
    svg {
      color: variables.$white !important;
    }
  }
}
.nothing-wrap {
  color: variables.$white;
  background-color: variables.$raisin-black;
  padding: 1rem;
}
