$black: rgb(46, 44, 44);

@mixin button-color($color) {
  background: $color;
}

.Input {
  vertical-align: middle;
  padding-left: 0.3rem;
  &.large {
    height: 2rem;
    font-size: 1.25rem;
    width: 60%;
  }

  &.medium {
    height: 1.75rem;
    font-size: 1rem;
    width: 60%;
  }

  &.small {
    height: 0.75rem;
    font-size: 0.875rem;
  }
}
