@use '@/utils/variables';
@use '@/utils/mixins';

.grid {
  display: inline-grid;
  grid-template-columns: subgrid;
  padding: 0 1rem;
  margin: 0 auto;
  column-gap: 1rem;

  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;

  @include mixins.mobile {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mixins.desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
