.Print {
  position: absolute;
  top: 33%;
  left: 33%;
  height: 34%;
  width: 34%;
  background-color: #000000;
  box-shadow: inset 0 0 0 5px rgba(150, 150, 150, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  border-radius: 50%;
}
