@use '../top-track.module.scss';
@use '@/utils/variables';

$animationSpeed: 30s;
$carousel-item-width: 12rem;

.wrap {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.carousel-wrap {
  overflow: hidden;
}
.carousel-group-wrap {
  display: inline-flex;
  gap: 1rem;
  animation: display $animationSpeed linear infinite;
}
.carousel-group-wrap:hover {
  animation-play-state: paused;
}

@keyframes display {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}
.carousel-item {
  width: $carousel-item-width;
}
