@use '../ProfileImage/profile-image';
@use '@/utils/variables';
@use '@/utils/mixins';

$title: 1.2rem;
$sm-title: 1rem;
$sm-font: 0.9rem;

.card {
  list-style: none;
  height: fit-content;
  min-height: 18rem;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
  .wrap {
    display: inline-flex;
    align-items: center;
  }
  li {
    width: 100%;
    list-style: none;
    font-size: $sm-font;
  }

  .title {
    height: 30%;
    font-weight: 1000;
    font-size: $title;
    display: inline-block;
    width: 100%;

    @include mixins.mobile {
      width: 9rem;
      font-size: $sm-title;
    }

    @include mixins.tablet {
      width: 15rem;
    }

    @include mixins.desktop {
      width: 21rem;
    }

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: variables.$tan-black;
  }
  ul {
    padding-left: 0;
  }

  .title-tag {
    display: inline-block;
    width: 100%;
    color: variables.$light-grey;
    padding-bottom: 0.4rem;
  }
  a {
    text-decoration: none;
    color: variables.$light-grey;
  }
}
