@use '@/utils/variables';
@use '@/utils/mixins';

.logo {
  text-decoration: none;
  color: variables.$grey;
}

.logo-skeleton {
  color: variables.$light-grey-white !important;
  text-decoration: none;
}
