@use '@/utils/variables';

.tab-selection-list {
  background-color: variables.$light-grey-white;
  color: variables.$light-grey-white;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;

  padding: 1rem 0 0 0 !important;
  margin-top: 0;

  button {
    font-family: 'Jua', sans-serif;
  }

  box-shadow: inset rgba(0, 0, 0, 0.2) 2px -6px 4px 0px;

  .unstyled-button {
    border: none;
    width: 100%;
    height: 1.2rem;
    font-weight: bold;
    background-color: inherit;
    color: variables.$tan-black;
    &:hover {
      cursor: pointer;
      color: variables.$white-grey;
    }
    padding: 0;
    text-transform: uppercase;
  }

  .focused {
    background-color: variables.$white;
    color: variables.$dark-black;
  }

  & div.desc {
    text-align: center;
  }
  & > li.focused {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) -1px -3px 4px 0px;
  }
  .submenu {
    display: inline-flex;
    width: calc(100% / 3);
    padding: 1rem;
    font-size: 15px;
    transition: 0.5s;
  }
  .submenu:first-child {
    margin-left: 1rem;
  }
  .submenu:last-child {
    margin-right: 1rem;
  }
}
