$light-grey-white: #dcdcdc;
$white: rgb(255, 255, 255);
$pale-white-grey: rgb(156, 154, 154);
$white-grey: rgb(111, 111, 111);
$light-grey: rgb(107, 107, 107);
$grey: rgb(84, 84, 84);
$grey-black: rgb(59, 59, 59);
$tan-black: rgb(43, 43, 43);
$dark-black: rgb(21, 20, 20);
$raisin-black: #2a2626;

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$basic-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$button-shadow:
  rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

$text-skeleton-greyish-white: rgb(185 185 185);
$neon-shadow:
  0 0 2px #fff,
  0 0 18px #fff,
  0 0 40px #fff;
$border-radius-main: 4px;
