$light-grey-white: #dcdcdc;
$white: rgb(255, 255, 255);
$light-grey: rgb(107, 107, 107);
$grey: rgb(84, 84, 84);
$grey-black: rgb(59, 59, 59);
$tan-black: rgb(43, 43, 43);
$dark-black: rgb(21, 20, 20);

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
