@font-face {
  font-family: 'Jua';
  src:
    local('Jua'),
    url('./fonts/Jua-Regular.eot') format('woff2'),
    url('./fonts/Jua-Regular.woff') format('woff'),
    url('./fonts/Jua-Regular.otf') format('otf'),
    url('./fonts/Jua-Regular.eot') format('eot');
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
}
button,
input {
  font-family: inherit;
  font-display: swap;
}
