@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
}
