@use '@/utils/variables';

.content-body {
  width: 100%;
  height: 30vh;
  display: inline-flex;
  gap: 0.4rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.link {
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  color: variables.$white-grey;
  &:hover {
    color: variables.$pale-white-grey;
  }
}
.message {
  margin-bottom: 0.4rem;
}

.content-wrap {
  display: inline-flex;
  flex-direction: column;
}
