@use '@/utils/mixins';
@use '@/utils/variables';

.table {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-top: 0;
}

.table-item {
  display: inline-flex;
  width: 100%;
  gap: 1rem;
  img {
    width: 6rem;
    aspect-ratio: 1/1;
    border-radius: variables.$border-radius-main;
  }
  margin-bottom: 1rem;
}
.table-item-description {
  width: 90%;
  color: variables.$light-grey-white;
}

.top-track-name {
  font-size: 1rem;
  display: inline-flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}
