@use '@/utils/variables';

.button {
  background-color: variables.$raisin-black;
  color: variables.$white;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  border: none;
  box-shadow: variables.$button-shadow;
}
.button:hover {
  background-color: variables.$pale-white-grey;

  cursor: pointer;
}
