@use '@/utils/variables';
.header {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  padding: 1.5rem 1rem;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  button {
    display: inline-block;
  }
}
