@use '@/utils/variables';

.vinylify-icon {
  svg {
    height: 9rem;
    width: 9rem;
  }
  margin-right: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: variables.$pale-white-grey;
}
